body {
    background-color: #8ead52;
}

#charname {
    text-align: center;
}

.card {
    background-color: #514d5c;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 32%;
}

#image {
    margin-bottom: 55px;
    border-bottom: 1px solid black;
}

#last_name {
    border-bottom: 1px solid black;
}

#first_name {
    border-bottom: 1px solid black;
}

.select-wrapper + label {
    position: absolute;
    top: -26px;
    font-size: 17px;
}

.input-field > label {
    color: #3f4f45;
}


.select-wrapper input.select-dropdown {
    height: 4rem;
    margin: 45px 0 8px 0;
    border: 1px solid black;
    padding: 10px;
}

nav {
    color: #6d6158;
    background-color: #514d5c;
    margin-bottom: 35px;
}

nav ul a {
    color: #ffff31; 
}

nav .brand-logo {
    color: #ffff31;
}

.btn, .btn-large {
    text-decoration: none;
    color: #ffff31;
    background-color: #514d5c;
    width: 100%;
}

.dropdown-content li > a, .dropdown-content li > span {
    font-size: 16px;
    color: #3f4f45;
}

.row .col.s12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
    color: black;
}

@media screen and (max-width: 440px) {

.select-wrapper input.select-dropdown {
    height: 4rem;
    margin: 65px 0 8px 0;
    border: 1px solid black;
    padding: 10px;
}

h3 {
    font-size: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.modal .modal-close {
    cursor: pointer;
    margin-top: 12px;
    align-content: center;
}

nav .brand-logo {
    color: #ffff31;
    font-size: 18px;
}

}