#charname {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 32%;
}

#image {
    margin-bottom: 75px;
}

.select-wrapper + label {
    position: absolute;
    top: -26px;
    font-size: 17px;
}

.input-field > label {
    color: black;
}


.select-wrapper input.select-dropdown {
    height: 5rem;
    margin: 20px 0 8px 0;
}



@media screen and (max-width: 440px) {

.select-wrapper input.select-dropdown {
    height: 10rem;
}

}